.image-container {
    border: none;
    overflow: hidden;
    margin: 10px;
    text-align: center;
    height: 100%;
    position: relative;
    bottom: -9px;
    width: 340px;
    margin-left: -2px;
}

.image-card h3 {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    margin: 0;
    color: white;
    height: auto;
}

.image-card h4 {
    padding: 5px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 51px;
    margin: 0;
    color: white;
}

.image-text {
    position: absolute;
    top: 70%;
    text-align: left;
    width: -webkit-fill-available;
}

.image-container img {
    display: block;
}

.image-oncard {
    user-select: none;
    -webkit-user-drag: none
}


/* .character-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 5px 0;
    margin: 0;
}

.info-left p {
    text-align: left;
    color: #ffffff;
}

.info-right p {
    margin: 0;
    text-align: right;
    color: #ff9800;
}

.info-left p::after,
.info-right p::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin-top: 5px;
} */

.info {
    display: flex;
    justify-content: space-between;
    background-color: #323131;
}

.left-side {
    color: #ffffff;
    margin-left: 5px;
    text-align: left;
}

.right-side {
    color: #df870f;
    margin-right: 8px;
    text-align: right;
}

.line-style {
    margin: 0 10px 0 10px;
    color: rgb(32, 31, 31);
}