.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #ff9800;
    border-bottom: 1px solid #ddd;
}


/* .navbar input[type="text"],
.navbar select,
.navbar button {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px;
    text-align: center;
    height: 50px;
    text-decoration: px underline;
}  */

.navbar-text {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    position: relative;
    text-decoration: wavy;
    padding-right: 30px;
    font-size: 14px;
}

.toggle-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.ascending-text {
    margin-left: 5px;
    margin-right: 5px;
    color: #ffffff;
    text-decoration: none;
    ;
}

.reset-button {
    background-color: #272F3C;
    color: #ffffff;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    margin-left: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 10px;
    /* flex-basis: 100%; */
}

.search-divider {
    position: absolute;
    top: 50%;
    left: calc(100%-40px);
    transform: translateY(-50%);
    right: 41px;
    pointer-events: none;
}

.search-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.no-records {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: wheat;
}

.filters-nav {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-basis: calc(50% - 50px);
    justify-content: flex-start; */
    align-items: center;
    width: min-content;
    ;
}

.switch-nav {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-basis: calc(50% - 50px);
    justify-content: flex-start; */
    align-items: center;
    width: fit-content;
}


/* @media screen and (max-width: 768px) {
    .filters-nav,
    .switch-nav {
        flex-basis: 100%;
    }
} */


/* @media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    .search-container {
        width: 100%;
        margin-bottom: 10px;
    }
    .filters-nav,
    .switch-nav {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    .reset-button {
        width: 100%;
        margin-bottom: 10px;
    }
} */

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .search-container,
    .filters-nav,
    .switch-nav,
    .reset-button {
        /* width: 100%; */
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 454px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        width: -webkit-fill-available;
        /* overflow-x: hidden; */
    }
    .filters-nav {
        width: min-content;
    }
    .filters-species {
        align-items: center;
        width: min-content;
        flex-direction: row;
        overflow-x: hidden;
        margin: -5px;
    }
}

@media screen and (max-width: 175px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        width: -webkit-fill-available;
        /* overflow-x: hidden; */
    }
    .filters-nav {
        width: min-content;
    }
    .filters-species {
        align-items: center;
        width: min-content;
        flex-direction: row;
        overflow-x: hidden;
        margin: -5px;
    }
}