.image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
}

.image-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 240px;
    margin: 10px;
    text-align: center;
}

.image-card img {
    width: 240px;
    height: 240px;
}

.image-card h3,
.image-card h4 {
    margin: 0;
    padding: 8px;
    font-size: 1.2em;
    background-color: rgb(38, 37, 37);
    color: white;
}

body {
    background-color: #272F3C;
}

.image-card p {
    margin: 4px 0;
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
}